<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/sem.css" />
    <link rel="stylesheet" href="/css/_theme.css" />
    <title><%= data.branch %></title>
  </head>
  <body>
    <nav class="nav">
      <a href="/">Home</a>
      <span>></span>
      <a href="#"><%= data.branch %></a>
    </nav>
    <div class="container">
      <a href="<%= data.branch %>/sem-1">
        <div class="card">Semester 1</div>
      </a>
      <a href="<%= data.branch %>/sem-2">
        <div class="card">Semester 2</div>
      </a>
      <a href="<%= data.branch %>/sem-3">
        <div class="card">Semester 3</div>
      </a>
      <a href="<%= data.branch %>/sem-4">
        <div class="card">Semester 4</div>
      </a>
      <a href="<%= data.branch %>/sem-5">
        <div class="card">Semester 5</div>
      </a>
      <a href="<%= data.branch %>/sem-6">
        <div class="card">Semester 6</div>
      </a>
      <a href="<%= data.branch %>/sem-7">
        <div class="card">Semester 7</div>
      </a>
      <a href="<%= data.branch %>/sem-8">
        <div class="card">Semester 8</div>
      </a>
    </div>

    <script src="/js/_theme.js"></script>
  </body>
</html>
